/*
#game {
    
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;
  } */
  
 body {
  padding: 5% 10%;
}


  #gameCanvas {
    float: left;
    background-color: rgb(122, 36, 36);
  } 

  .gameSide {
    display: block;
    float: right;
    padding-left: 100;
  }

  #enterName {
    display: none;
    position: fixed;
    height: 500;
    width: 500;
    background-color: rgba(0, 194, 116, 0.4);
  }

  #enterNamePlacement {
    margin: 165;
  }